*{margin:0;padding: 0;box-sizing: border-box;text-decoration: none;
border: none;outline:none ;scroll-behavior: smooth;font-family: -apple-system,sans-serif;
}

:root{--bg-color:#fff;--snd-bg-color:#d5fdf9;--text-color:#000;
--main-color:#007f73;}
html{font-size: 65.5%;overflow-x: hidden;}
body{background:var(--bg-color);color: var(--text-color);}
section{min-width: 100vh;padding:10rem 9% 2rem;}
/*header section code*/
.header{position: fixed;width: 100%;top: 0;right:0;z-index:1000;display: flex;
    align-items: center;justify-content:space-between;padding: 2rem 5%; 
    background: var(--main-color);backdrop-filter: blur(10px);transition: all 0.5s ease;
}
.logo{font-size:3rem ;color:var(--bg-color);font-weight: 700;cursor: pointer;
transition: 0.3s ease;}

.logo:hover{transform:scale(1.05);}
.navbar a {font-size:1.9rem;color:var(--bg-color);margin-left: 4rem;font-weight:700;
transition: 0.3s ease;}

.navbar a:hover,.navbar a :active{color: var(--text-color);}
#menu-icon{font-size: 3.6rem;color: var(--bg-color);cursor: pointer;
 display: none;}
 /*home section code*/
 .home{display: flex;justify-content:center;align-items: center;}
 .home-img img{width: 14vw;border-radius: 50%;box-shadow: 0 0 25px var(--main-color);
cursor: pointer;animation: floatImage 4s ease-in-out infinite;transition: 0.4s ease;}
.home-img img:hover{box-shadow: 0 0 25px var(--main-color),
    0 0 35px var(--main-color),  0 0 45px var(--main-color);}
    @keyframes floatImage {
       0%{transform: translateY(0);} 
       50%{transform: translateY(-2.4rem);} 
       100%{transform: translateY(0);}
    }
    .home-content{margin-left:5rem;}
    .home-content h3{font-size: 3.7rem;font-weight:700;}
    .home-content h3:nth-of-type(2){
     margin-bottom: 2rem;   
    }
    span{color: var(--main-color);}

    .home-content h1{font-size: 6rem;font-weight: 700;line-height:1.3;}

    .social-media a{display: inline-flex;justify-content: center;
    align-items: center;width: 42px;height:42px;background: transparent;
    border: 0.2rem solid var(--main-color);border-radius: 50%;font-size: 2rem;
color: var(--main-color);margin: 3rem 1.5rem 3rem 0;transition:0.3s ease ;}

.social-media a:hover{transform: scale(1.2)translateY(-10px);
background-color: var(--main-color);color: var(--bg-color);
box-shadow:0 0 25px var(--main-color);}

.btn{display: inline-block;padding: 1rem 2.8rem;background: var(--main-color);
border-radius: 4rem;box-shadow: none;font-size: 1.6rem;
color: var(--bg-color);letter-spacing:0.1rem;font-weight: 600;transition:0.3s ease;}
.btn:hover{box-shadow:0 0 1.6rem var(--main-color);}

 /*section code*/
 .about{display: flex;align-items: center;justify-content: center;gap:20rem;
background: var(--snd-bg-color);height:500px;}



 .heading{font-size: 6rem;text-align: center;}  
 .about-contant{padding: 0 4rem ;} 
 .about-contant h2 {text-align: left;line-height: 1.2;}    
 .about-contant h3{font-size: 3rem;} 
 .about-contant p{font-size:1.6rem;margin: 2rem 0 3rem;} 
 
 /*services code*/
 .services h2{margin-bottom:5rem;}
 .services-container{display: flex;justify-content: center;align-items: center;
flex-wrap: wrap;gap: 2rem ;}

.services-container .services-box{flex:1 1 30rem;background: var(--snd-bg-color); 
padding: 6rem 2rem 6rem ;border-radius: 2rem;text-align: center;border: 0.5rem solid var(--bg-color);
transition: 0.3s ease ;}
.services-container .services-box:hover{border-color:var(--main-color);
    transform:scale(1.02);
}
.services-box i{font-size: 7em;color:var(--main-color);}
.services-box h3{font-size: 2.6rem;}
.services-box p{font-size: 1.6rem;margin:1rem 0 3rem;}

 /*higlight code*/
 .highlight h2{margin-bottom:5rem;}
 .highlight-container{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;gap: 2rem ;}

.highlight-container .highlight-box{flex:1 1 30rem;background: var(--snd-bg-color); 
padding: 6rem 2rem 6rem ;border-radius: 2rem;text-align: center;border: 0.5rem solid var(--bg-color);
transition: 0.3s ease ;}
.highlight-container .highlight-box:hover{border-color:var(--main-color);
    transform:scale(1.02);
}
.highlight-box p{font-size: 1.6rem;margin:1rem 0 3rem;}
 
/*project code*/
.project h2{margin-bottom:5rem;}
.project-container{display: flex;justify-content: center;align-items: center;
flex-wrap: wrap;gap: 2rem ;}

.project-container .project-box{flex:1 1 30rem;background: var(--snd-bg-color); 
padding: 6rem 2rem 6rem ;border-radius: 2rem;text-align: center;border: 0.2rem solid var(--bg-color);
transition: 0.3s ease ;}
.project-container .project-box:hover{border-color:var(--main-color);
    transform:scale(1.02);
 }
.project-box p{font-size: 1.6rem;margin:1rem 0 3rem;font-size: 4rem;}
.animated-shadow {
    font-size: 24px;
    color: #333;
    transition: text-shadow 0.5s ease;
}

.animated-shadow:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 
                 0 0 20px rgba(0, 0, 0, 0.5);
}

/*Skills code*/
.skills h2{margin-bottom:5rem;}
 .skills-container{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;gap: 2rem ;}

 .skills-container .skills-box{flex:1 1 30rem;background: var(--snd-bg-color); 
    padding: 6rem 2rem 6rem ;border-radius: 2rem;text-align: center;border: 0.5rem solid var(--bg-color);
    transition: 0.3s ease ;}
.skills-container .skills-box:hover{border-color:var(--main-color);
    transform:scale(1.02);
}
.skills-box p{font-size: 1.6rem;margin:1rem 0 3rem;}
.skills .skills-box i{font-size: 7em;color:var(--main-color);}


/*Testimonials section code*/
.testimonialsh2{margin-bottom:5rem;}
 .testimonials-container{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;gap: 2rem ;
flex-direction: row;}

 .testimonials-container .testimonials-box{flex:1 1 30rem;background: var(--snd-bg-color); 
    padding: 6rem 2rem 6rem ;border-radius: 2rem;text-align: center;border: 0.5rem solid var(--bg-color);
    transition: 0.3s ease ;}
.testimonials-container .testimonials-box:hover{border-color:var(--main-color);
    transform:scale(1.02);
}
.testimonials-box p{font-size: 1.6rem;margin:1rem 0 3rem;}

.wrapper{display:grid;gap: 3rem;grid-template-columns: repeat(3,1fr);}
.testimonials-item{min-height:50px;max-width: 250px;}

.testimonials-box img{width:15rem;border-radius: 50%;
    border: 3px solid var(--main-color);box-shadow:0 0 25px var(--main-color);
    }



    footer {
        text-align: center;
        padding: 5px 0;
        background:var(--main-color);
        color:var(--bg-color);
        position: relative;
        bottom: 0;
        width: 100vw;height:40px;
    }


